$green: #c3e5c0;
$green-alt: darken($green, 20%);
$blue: #c0d9e5;
$blue-alt: darken($blue, 20%);
$red: #e5c0c0;
$red-alt: darken($red, 20%);

.item{
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

.item--position-1 {
	background-color: $green;
	border: 1px solid $green-alt;
}

.item--position-2 {
	background-color: $blue;
	border: 1px solid $blue-alt;
}

.item--position-3 {
	background-color: $red;
	border: 1px solid $red-alt;
}